<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}WILDLIFE{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
</head>
<body>
<div class="navwild">
<div class="nav nav-tabs">
    <div class="dropdown">
        <button class="dropbtn">MENU</button>
        <div class="dropdown-content">
            <a href="/">HOME</a>
            <a href="/animal/new">ADD NEW ANIMAL</a>
        </div>
    </div>
</div>
</div>
<div class="container">

    <div class="page-header">
        <h1>Welcome. <small>Take Care Of The Ecosystem.</small></h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>


{{#block "footer"}}
    <footer class="footer">
        <div class="container">
            <hr>
        </div>
    </footer>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </html>
{{/block}}