{{#partial "content"}}


        <p>Name: {{animal.name}}</p>
        {{#if animal.sightings}}
            {{#each animal.sightings}}
                <hr>
                <p>Location Sighted: {{location}}</p>
                <p>Ranger Name: {{ranger}}</p>
            {{/each}}
        {{/if}}


{{/partial}}

{{> layout.hbs}}