{{#partial "content"}}
    <h1>Add New Sighting</h1>
    <form action="/sightings" method="post">
        <br>
        <br>
        <label for="location">Location</label>
        <input id="location" name="location" type="text">
        <br>
        <label for="ranger">Ranger</label>
        <input id="ranger" name="ranger" type="text">
        <br>
    </form>






{{/partial}}